<div class="row">
  <div class="small-12 columns">
    <form>
      <label>Banner Image Url
        <input type="text" placeholder=".small-12.columns" aria-describedby="exampleHelpText">
      </label>
      <p class="help-text" id="exampleHelpText">Upload the banner image to the CMS and past the Url here.</p>
      <label>
    What books did you read over summer break?
    <textarea placeholder="None"></textarea>
    </label>
      <div class="input-group">
        <div class="input-group-button">
          <input type="submit" class="button" value="Submit">
        </div>
      </div>
    </form>
  </div>
</div>
<app-dynamic-content></app-dynamic-content>