<div class="row">
  <div class="small-12 columns">
    <h1>Configuration Area</h1>
    <hr/>
    <form [formGroup]="multiRegForm" #form="ngForm">
      <label>Banner Image Url
        <input 
          type="text" 
          placeholder="banner image url" 
          aria-describedby="place the banner image url in this field"
          formControlName="bannerImg">
      </label>
      <p class="help-text" id="exampleHelpText">Upload a banner image to the CMS and past the Url here.</p>
      <label>Event Title
        <input 
          type="text" 
          placeholder="event title" 
          aria-describedby="place the event title here"
          formControlName="title">
      </label>
      <label>
    Fill in the MultiReg abstract
    <textarea 
      placeholder="abstract" 
      rows="4"
      formControlName="abstract">
      </textarea>
    </label>
    </form>
  </div>
</div>
<app-dynamic-content [formData]="form"></app-dynamic-content>