<section class="header-img">
  <div class="row">
    <div class="columns small-12">
      <!--banner image url-->
      <img class="banner" src="{{multiReg.bannerImg}}" alt="{{multiReg.abstract}}">
      <!--end banner image url-->
    </div>
  </div>
</section>
<section>
  <div class="row">
    <div class="columns small-12 medium-7">
      <!--title of the show-->
      <h2>{{multiReg.title}}</h2>
      <!--end title of the show-->
      <!--description of the show-->
      <p>{{multiReg.abstract}}</p>
      <!--end description of the show-->
    </div>
  </div>
</section>