/* You can add global styles to this file, and also import other style files */

section {
  margin: 1.5rem 0;
}

.menu {
  padding: 1rem 0;
}

.menu-text:first-child {
  padding-left: 0;
}

.banner {
  width: 100%;
}

.row {
  max-width: 76.38889rem;
}